<div class="container">
    <h2 class="mt-5 mb-5"></h2>
    <h2 class="mt-5 mb-5">Seasons' episodes<a class="btn btn-sm text-white btn-success ml-3" (click)="detailsOrAdd('add')">Add new episode</a></h2>

    <div class="mat-elevation-z8 mt-5">
      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <table class="table table-hover w-100" mat-table [dataSource]="dataSource" matSort >
        <ng-container matColumnDef="position">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element)+1}} </td>
        </ng-container>
    
        <ng-container matColumnDef="serialNumber">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> SN </th>
          <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="movieTvShow">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> TV Show name </th>
            <td mat-cell *matCellDef="let element"> {{element.movieTvShow.name}} </td>
        </ng-container>

        <ng-container matColumnDef="season">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Season SN </th>
            <td mat-cell *matCellDef="let element"> {{element.season.serialNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element"><a class="btn btn-sm text-white btn-primary" (click)="detailsOrAdd(element.id)">Details</a></td>
          </ng-container>
        
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element"><a class="btn btn-sm text-white btn-danger" (click)="delete(element.id)">Delete</a></td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,15,50]" showFirstLastButtons></mat-paginator>
    </div>
    
  </div>