<div class="container">
  <div class="mat-elevation-z8">
    <mat-form-field class="mat-form-field">
      <input class="filterInput" (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter" color="white">
    </mat-form-field>
    <table mat-table class="table table-hover w-100 mat-table" [dataSource]="dataSource" matSort >
      <ng-container matColumnDef="position">
        <th class="table-cell" mat-header-cell mat-sort-header *matHeaderCellDef> # </th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <ng-container matColumnDef="title">
        <th class="table-cell" mat-header-cell mat-sort-header *matHeaderCellDef> title </th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="startTime">
        <th class="table-cell" mat-header-cell mat-sort-header *matHeaderCellDef> Start time </th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.startTime | date:'short':'+0000'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="endTime">
        <th class="table-cell" mat-header-cell mat-sort-header *matHeaderCellDef> End time </th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.endTime  | date:'short':'+0000'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="channelName">
        <th class="table-cell" mat-header-cell mat-sort-header *matHeaderCellDef> Channel name </th>
        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.channelName}} </td>
      </ng-container>
    
      <tr class="table-cell" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="fff table-cell" (click)="trans(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="mat-pag" [pageSizeOptions]="[5,10,15,50,100]" showFirstLastButtons></mat-paginator>
  </div>
  
</div>
  
  
  