<!-- <div class="container">
    <h2 class="mt-5 mb-5">All persons<a class="btn btn-sm text-white btn-success ml-3" (click)="detailsOrAdd('add')">Add new person</a></h2>
      <table class="table table-hover w-75">
          <thead>
            <tr>
              <th >#</th>
              <th> First name</th>
              <th> Last name</th>
              <th> Born date</th>
              <th> Died date</th>
            </tr>
          
          </thead>
          <tbody *ngFor="let obj of persons; index as i">
  
            <tr>
              <td>{{i+1}}</td>
              <td>{{obj.firstName}}</td>
              <td>{{obj.lastName}}</td>
              <td>{{obj.bornDate | date:'short'}}</td>
              <td *ngIf="obj.diedDate!=null">{{obj.diedDate | date:'short'}}</td>
              <td *ngIf="obj.diedDate==null">/</td>
              <td><a class="btn btn-sm text-white btn-primary" (click)="detailsOrAdd(obj.id)">Details</a></td>
              <td><a class="btn btn-sm text-white btn-danger" (click)="delete(obj.id)">Delete</a></td>
          </tr>
          </tbody>
        </table>
  </div> -->

  <div class="container">
    <h2 class="mt-5 mb-5">All persons<a class="btn btn-sm text-white btn-success ml-3" (click)="detailsOrAdd('add')">Add new person</a></h2>
    <div class="mat-elevation-z8 mt-5">
      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
      <table class="table table-hover w-100" mat-table [dataSource]="dataSource" matSort >
        <ng-container matColumnDef="position">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element)+1}} </td>
        </ng-container>
    
        <ng-container matColumnDef="firstName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> First name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="lastName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Last name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="bornDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Born date </th>
          <td mat-cell *matCellDef="let element"> {{element.bornDate | date:'yyyy-mm-dd'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="diedDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Died date </th>
          <td mat-cell *matCellDef="let element" > {{element.diedDate  | date:'yyyy-mm-dd'}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element"><a class="btn btn-sm text-white btn-primary" (click)="detailsOrAdd(element.id)">Details</a></td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element"><a class="btn btn-sm text-white btn-danger" (click)="delete(element.id)">Delete</a></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,15,50]" showFirstLastButtons></mat-paginator>
    </div>
    
  </div>
    
    
    