<main *ngIf="dataDetails">
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<div class="col">
				<div class="background">
					<div class="background-content">
						<h1 class="display-3">{{dataDetails.name}}</h1>
						<div class="row no-gutters mt-1">
							<li class="lig">Directed by: </li>
							<div class="genres" *ngFor="let pmts of dataDetails.persons">
								<li class="lig dirsli" *ngIf="pmts.director" (click)="personDetails(pmts.person.id)">
									{{pmts.person.firstName}}
									{{pmts.person.lastName}} </li>
							</div>
						</div>
						<div class="row no-gutters mt-1">
							<li class="lig">Writen by: </li>
							<div class="genres" *ngFor="let pmts of dataDetails.persons">
								<li class="lig dirsli" *ngIf="pmts.writer" (click)="personDetails(pmts.person.id)">
									{{pmts.person.firstName}}
									{{pmts.person.lastName}} </li>
							</div>
						</div>
						<div *ngIf="dataDetails.type==='TV_SHOW'">
							<div class="genres" *ngFor="let season of dataDetails.seasons | seasonsFilter">
								<li class="lig dirsli" (click)="clickedSeason(season.serialNumber)">Season {{season.serialNumber}}  </li>
							</div>
						</div>
						<br>
						
						<div>
							<div class="ratings" *ngFor="let i of usermtsRatings">
								<i class="fa fa-star text-warning"></i>	
							</div>
							<div class="ratings" *ngFor="let i of usermtsRatingsDif">
								<i class="fa fa-star text-dark"></i>	
							</div>
						</div>
						<br>
						<div class="row no-gutters mt-1">
							<div class="genres" *ngFor="let g of dataDetails.genres">
								<li class="lig">{{g.type}}</li>
							</div>
							<p class="ml-3">({{dataDetails.releaseYear}})</p>
							<p class="ml-3">({{dataDetails.lengthMinutes}} min)</p>
							<p class="ml-3">({{dataDetails.country}})</p>
							<p class="ml-3">({{dataDetails.language}})</p>
						</div>

						<div class="row mediaparent">
							<div class="col-3 mediachild">
								<owl-carousel-o [options]="customOptions">
									<ng-template *ngFor="let p of dataDetails.photos" carouselSlide>
										<div class="slide">
											<img class="img-fluid img-thumbnail mtsimgs" [src]="p.path" width="200">
										</div>

									</ng-template>
								</owl-carousel-o>
							</div>
							<div class="col-4 mediachild">
								<owl-carousel-o [options]="customOptions">
									<ng-template *ngFor="let vid of dataDetails.trailers" carouselSlide>
										<div class="slide">
											<iframe width="450" height="280" allowTransparency="true"
												background="transparent" [src]="getIframeYouTubeUrl(vid.path)"
												frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
												allowfullscreen></iframe>
										</div>

									</ng-template>
								</owl-carousel-o>
							</div>
							<div *ngIf="seasonChosen" class="col-4 mediachild ff">
								<table class="table table-hover w-50" style="color: white;">
									<thead>
									  <tr>
										<th>#</th>
										<th> SN</th>
										<th> Name</th>
									  </tr>
									
									</thead>
									<tbody *ngFor="let episode of seasonEpisodes | episodesFilter;index as i">
							
									  <tr *ngIf="seasonEpisodes.length>0;else">
										<td>{{i+1}}</td>
										<td>{{episode.serialNumber}}</td>
										<td>{{episode.name}}</td>
									</tr>
									</tbody>
								  </table>
							</div>
						</div>
						<div class="w-50">
							<p class="mt-5 ml-3 mb-5 desc">{{dataDetails.description}}</p>
						</div>
					</div>
					<div class="container-fluid pl-5 pb-5">
						<div class="row">
							<div class="col-md-2 persondata"
								*ngFor="let pmts of dataDetails.persons| roleFilter:'actorRole';index as i">
								<img class="img-fluid img-thumbnail"
									*ngIf="pmts.person.photos.length>0&&pmts.actor;else noPhoto"
									[src]="pmts.person.photos[0].path" (click)="personDetails(pmts.person.id)">
								<ng-template #noPhoto>
									<div>
										<img *ngIf="pmts.actor" class="img-fluid img-thumbnail"
											(click)="personDetails(pmts.person.id)"
											src="../../../../assets/pavatar.png">
									</div>
								</ng-template>
								<figcaption *ngIf="pmts.actor" class="figure-caption">
									{{pmts.person.firstName}}
									{{pmts.person.lastName}} as {{pmts.castName}}</figcaption>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>