
.media{
    background-color: #333333;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.8;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      );
}
.media:hover{
    opacity: 1;
}

.allmoviesdata{
	color: white;
	opacity: 0.9;
}
.allmoviesdata .img-fluid{
	max-height: 250px;
}
.allmoviesdata figcaption{
    color: white;
    font-size: 900;
    text-transform: uppercase;
    font-weight: 600;
}
.allmoviesdata:hover {
	opacity: 1;
	cursor: pointer;
	transform: scale(1.1);
}
