<div class="container-fluid pl-5 pr-5 mt-5" *ngIf="!isSearched">
    <h3>All movies & TV Shows</h3>
    <div *ngIf="moviestvshows.length>0">
        <div class="row mt-5 allmoviesrow">
            <div class="col-md-2" *ngFor="let mts of moviestvshows;index as i">
                <div class="allmoviesdata">
                    <img class="img-fluid img-thumbnail" *ngIf="mts.photos.length>0;else noPhoto"
                        (click)="mtsOrPersonDetails('mts',mts.id)" [src]="mts.photos[0].path">
                    <ng-template #noPhoto>
                        <div>
                            <img class="img-fluid img-thumbnail" (click)="mtsOrPersonDetails('mts',mts.id)"
                                src="../../../assets/mavatar.jpg">
                        </div>
                    </ng-template>
                    <figcaption class="figure-caption">
                        {{mts.name}} ({{mts.releaseYear}})</figcaption>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container mt-5" *ngIf="isSearched">
    <h3 class="mb-5 mt-1">Results for "{{resultValue}}"</h3>

    <div *ngIf="searchResultsData && searchResultsData.length>0;else noResults">
        <div class="well mb-3" *ngFor="let obj of searchResultsData">
            <!-- if movietvshows -->
            <div class="media" (click)="mtsOrPersonDetails('mts',obj.id)"
                *ngIf="chosenEntityValue&&chosenEntityValue==='mts'">
                <a class="pull-left mr-1" href="#">
                    <!-- <img class="media-object h-100" src="http://placekitten.com/150/150"> -->
                    <img class="img-thumbnail" style="height: 200px;width: 150px;" *ngIf="obj.photos.length>0;else noPhoto"
                     [src]="obj.photos[0].path">
                    <ng-template #noPhoto>
                        <div>
                            <img class="img-thumbnail" style="height: 200px;width: 150px;" 
                                src="../../../assets/mavatar.jpg">
                        </div>
                    </ng-template>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{obj.name}} | {{obj.type}} | ({{obj.releaseYear}}) |
                        {{obj.lengthMinutes}} min | {{obj.language}}</h4>
                    <p>{{obj.description}}</p>
                </div>
            </div>
            <div class="media" (click)="mtsOrPersonDetails('person',obj.id)"
                *ngIf="chosenEntityValue&&chosenEntityValue==='persons'">
                <a class="pull-left mr-1" href="#">
                    <img class="media-object h-100" src="http://placekitten.com/150/150">
                </a>
                <!-- if persons -->
                <div class="media-body">
                    <h4 class="media-heading">{{obj.firstName}} {{obj.lastName}} | ({{obj.bornDate |
                        date:'yyyy'}}-{{obj.diedDate| date:'yyyy'}})</h4>
                    <p><b>Bio: </b>{{obj.bio}}</p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noResults>
        <div>
            <h3>No results found.</h3>
        </div>
    </ng-template>
</div>