.allmoviesdata{
	color: white;
	opacity: 0.9;
}
.allmoviesdata .img-fluid{
	max-height: 250px;
}
.allmoviesdata figcaption{
    color: white;
    font-size: 900;
    text-transform: uppercase;
    font-weight: 600;
}
.allmoviesdata:hover {
	opacity: 1;
	cursor: pointer;
}
