<main *ngIf="dataDetails">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col">
                <div class="background">
                    <div class="background-content">
                        <h3 class="display-3">{{dataDetails.firstName}} {{dataDetails.lastName}}</h3>
                        <div class="row no-gutters mt-1">
                            <p class="ml-3">({{dataDetails.bornDate |
                                date:'yyyy'}}-{{dataDetails.diedDate| date:'yyyy'}})</p>
                        </div>
                        <div class="row mediaparent">
                            <div class="col-3 mediachild">
                                <owl-carousel-o *ngIf="dataDetails.photos?.length>0;else noPhoto" [options]="customOptions">
                                    <ng-template *ngFor="let p of dataDetails.photos" carouselSlide>
                                        <div class="slide">
                                            <img class="mtsimgs img-fluid img-thumbnail" [src]="p.path" width="200">
                                        </div>

                                    </ng-template>
                                </owl-carousel-o>
                                <ng-template #noPhoto>
									<div>
										<img class="img-thumbnail" 
											src="../../../assets/pavatar.png">
									</div>
								</ng-template>
                            </div>
                        </div>
                        <div class="w-50">
                            <p class="mt-5 ml-3 mb-5 desc">{{dataDetails.bio}}</p>
                        </div>
                    </div>
                    <div class="container-fluid pl-5 pb-5">
                        <div class="row">
                            <div class="col-md-2 pcol"
                                *ngFor="let mts of dataDetails.moviesTvShows | yearFilter:'releaseYear':'desc';index as i">
                                <div class="moviedata">
                                    <img class="img-fluid img-thumbnail"
                                        *ngIf="mts.movieTvShow?.photos?.length>0;else noPhoto"
                                        [src]="mts.movieTvShow?.photos[0].path"
                                        (click)="mtsDetails(mts.movieTvShow.id)">
                                    <ng-template #noPhoto>
                                        <div>
                                            <img class="img-fluid img-thumbnail"
                                                (click)="mtsDetails(mts.movieTvShow.id)"
                                                src="../../../../assets/mavatar.jpg">
                                        </div>
                                    </ng-template>
                                    <figcaption class="figure-caption">{{mts.movieTvShow.name}}
                                        ({{mts.movieTvShow.releaseYear}})</figcaption>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>