<div class="container">
    <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let psrc of photoSrcs" carouselSlide>
                <div class="item">
                    <img class="img" [src]="psrc">
                </div>
            </ng-template>
    </owl-carousel-o>
</div>

<div class="container" *ngIf="dataDetails">
    <div class="well mb-3">
        <!-- if movietvshows -->
        <div class="media">
            <a class="pull-left mr-1">
                <img class="media-object h-100" src="http://placekitten.com/150/150">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{dataDetails.firstName}} {{dataDetails.lastName}} | ({{dataDetails.bornDate |
                    date:'yyyy'}}-{{dataDetails.diedDate| date:'yyyy'}})</h4>
                <p><b>Bio: </b>{{dataDetails.bio}}</p>
            </div>
        </div>
    </div>

    <div>
    <h4 class="mt-5">Filmograhpy</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Year</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody *ngFor="let mts of dataDetails.moviesTvShows | yearFilter:'releaseYear';index as i">
            <tr>
                <td>{{i+1}}</td>
                <td>{{mts.movieTvShow.name}}</td>
                <td>{{mts.movieTvShow.releaseYear}}</td>
                <td><a class="btn btn-sm text-white btn-primary" (click)="mtsDetails(mts.movieTvShow.id)">Details</a> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>